/*GLOBAL*/
html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*,
*::after,
*::before{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

a{
	text-decoration: none;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
button{
	cursor: pointer;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.app-wrapper{
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */

  grid-template-areas: 
      "h h"
      "n c"
  ;
}