.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-size: 24px;
    color: #1b1313;
    
}
.dialogs__items{
    padding: 10px;
}
.item{
    padding: 30px;
}
.item a{
    color: #1b1313;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.item a.active{
    color: #4c77a4;
}
.item a:hover{
    color: #4c77a4;
}
.messages{
    padding: 10px;
}
.message{
    padding: 30px;
}